.order-page {
    background-color: #1b1642;
    color: white;
    padding: 2rem;
    height: 100vh;
    overflow-y: auto;
    text-align: center;
  }
  
  .order-title {
    font-size: 2rem;
    color: #ff4081;
    margin-bottom: 2rem;
  }
  
  .order-total-text {
    margin-top: 2rem;
    color: #ccc;
  }
  
  .order-total {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
  
  .submit-btn {
    background-color: #2de0c2;
    font-family: "sansita";
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 6px;
    cursor: pointer;
  }
  