.price-box {
    border: 2px solid #ff4081;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 1.5rem auto;
    background-color: #1b1642;
    overflow: hidden; 
  }
  
  .price-text {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ff4081;
    background-color: #1b1642;
  }
  
  .counter-box {
    display: flex;
    height: 60px;
  }
  
  .counter-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    border-right: 1px solid #ff4081;
    background-color: transparent; 
    cursor: pointer;
    user-select: none;
  }
  
  .counter-section:last-child {
    border: none;
  }

  .counter-section:first-child {
    border-top: none;
    border-bottom: none;
    border-left: none;
  }

  .counter-value {
    cursor: default;
  }
  
  .counter button {
    background-color: transparent;
    color: white;
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }
  
  .counter span {
    font-size: 1.8rem;
    min-width: 40px;
    text-align: center;
  }
  
  .add-button {
    background-color: #2de0c2;
    color: white;
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    font-family: "sansita";
  }
  
  .add-button:hover {
    background-color: #ff4081;
  }
  