.events-page {
    position: relative;
    padding: 2rem;
    background-color: #1b1642;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .events-list {
    overflow-y: auto;
    flex: 1;
    padding-right: 0.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .header__form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .header__input {
    padding: 0.7rem;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    border: none;
  }
  
  .no-results {
    text-align: center;
    color: #ccc;
    margin-top: 2rem;
  }
  
  
  .events-title {
    font-size: 2rem;
    color: #ff4081;
    text-align: center;
    margin-bottom: 2rem;
    font-style: italic;
  }
  
  
  .event-item {
    display: flex;
    align-items: center;
    background-color: #261d58;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .event-item:hover {
    transform: scale(1.02);
  }
  
  .event-date {
    width: 60px;
    text-align: center;
    background-color: #1b1642;
    border: 2px solid white;
    border-radius: 6px;
    margin-right: 1rem;
    padding: 0.5rem;
    color: white;
  }
  
  .event-day {
    font-weight: bold;
    font-size: 1.3rem;
    display: block;
  }
  
  .event-month {
    font-size: 0.6rem;
    display: block;
  }
  
  .event-details {
    flex-grow: 1;
    color: white;
  }
  
  .event-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.2rem;
  }
  
  .event-location {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 0.2rem;
  }
  
  .event-time {
    font-size: 0.85rem;
    color: #ccc;
    margin-top: 0.4rem;
  }
  
  .event-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #2de0c2;
    text-align: right;
  }
  
  